body {
	
}

#logo {
	display: flex;
	margin: 0 auto;
	padding-top: 190px;
	width: 272px;
	height: 92px;
}

#search {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding-top: 59px;
}

 width="272" height="92"